In [1]:
# Recebemos uma nova demanda da seguradora: precisamos criar novas variáveis para o conjunto de dados.
# Um das variáveis abrigará o valor bruto do aluguel; (Aluguel, Condomínio e IPTU)
# Valor com base no metrô quadrado de um imóvel; (Valor/Área)
# Uma nova variável de tipo que agregue casas e apartamentos;

# Relatório de Análise VI

In [10]:
import pandas as pd

In [11]:
dados = pd.read_csv('data/aluguel_residencial.csv', sep = ';')

In [12]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

In [15]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0

In [19]:
dados['Valor m²'] = (dados['Valor'] / dados['Area']).round(2)
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86

In [20]:
dados['Valor Bruto m²'] = (dados['Valor Bruto']/dados['Area']).round(2)
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²,Valor Bruto m²
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
...,...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71

In [24]:
casa = ['Casa', 'Casa de Condominio', 'Casa de Vila']

In [25]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [26]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m²,Valor Bruto m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71,Apartamento

## Excluindo Variáveis

In [28]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m²', 'Valor Bruto', 'Valor Bruto m²']])

In [29]:
dados_aux.head(10)

  Tipo Agregado  Valor m²  Valor Bruto  Valor Bruto m²
0   Apartamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2   Apartamento     53.33       1210.0           80.67
3   Apartamento     16.67       1030.0           21.46
4   Apartamento     26.00       1618.0           32.36
5   Apartamento     29.33      22000.0           29.33
6   Apartamento     15.38       1000.0           15.38
7   Apartamento     21.43       2216.0           31.66
8   Apartamento     16.67       1969.0           21.88
9   Apartamento     50.00       2611.0           65.28

In [30]:
del dados_aux['Valor Bruto']

In [31]:
dados_aux

      Tipo Agregado  Valor m²  Valor Bruto m²
0       Apartamento     42.50           56.50
1              Casa     70.00           70.00
2       Apartamento     53.33           80.67
3       Apartamento     16.67           21.46
4       Apartamento     26.00           32.36
...             ...       ...             ...
21821   Apartamento     12.86           20.54
21822   Apartamento     29.63           43.52
21823   Apartamento     23.08           33.85
21824   Apartamento     29.17           40.54
21825   Apartamento     42.86           53.71

[21826 rows x 3 columns]

In [32]:
dados_aux.pop('Valor Bruto m²')

0        56.50
1        70.00
2        80.67
3        21.46
4        32.36
         ...
21821    20.54
21822    43.52
21823    33.85
21824    40.54
21825    53.71
Name: Valor Bruto m², Length: 21826, dtype: float64

In [33]:
dados_aux

      Tipo Agregado  Valor m²
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     53.33
3       Apartamento     16.67
4       Apartamento     26.00
...             ...       ...
21821   Apartamento     12.86
21822   Apartamento     29.63
21823   Apartamento     23.08
21824   Apartamento     29.17
21825   Apartamento     42.86

[21826 rows x 2 columns]

In [34]:
dados.drop(['Valor Bruto','Valor Bruto m²'], axis = 1, inplace = True)

In [35]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m²,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [36]:
dados.to_csv('data/aluguel_residencial.csv', sep = ';', index = False)